.Overlay {
    background-color: rgba(122, 255, 92, 0.478);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.5s ease;
  }

  .body {
    border-color: rgba(122, 255, 92, 0.478);
  }

  .Modal {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .Modal img {
    border: none;
    display: block;
    width: 600px;
    height: auto;
    border-color: rgba(122, 255, 92, 0.478);
    transition: opacity 1.5s ease;
  }